header {
  display: flex;
  min-width: 100%;
  margin-top: 41px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header-top nav {
  display: flex;
}

.header-top p {
  margin-right: 34px;
  cursor: pointer;
  height: 11px;
}

.header-top img {
  margin-right: 8px;
}

.header-top a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-text, #AEAEAE);
  cursor: pointer;
}

.header-middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header-middle_mobile {
  display: none;
}

.header-middle h1 {
  position: inherit;
  margin-top: 69px;
  margin-left: 51px;
  max-width: 610px;
  z-index: 1;
  font-size: 53px;
  font-weight: 700;
  line-height: 111%;
}

.header-middle p {
  margin: 48px 0px 0px 52px;
}

.header-middle p:last-of-type {
  margin-top: 0px;
}

.header-middle button {
  display: flex;
  width: 209px;
  height: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--akcent, #20BBFE);
  margin: 58px 0 0 51px;
  color: var(--white, #FFF);
  text-align: center;
  border: none;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 173px;
}

.header-bottom_info__price,
.header-bottom_info__appointment,
.header-bottom_info__sale {
  width: 395px;
  height: 259px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--white, #FFF);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  background-color: #fff;
}

.header-bottom_info__price h3,
.header-bottom_info__appointment h3,
.header-bottom_info__sale h3 {
  color: var(--text, #656565);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 30px;
}

.header-bottom_info__price p,
.header-bottom_info__appointment p,
.header-bottom_info__sale p {
  color: var(--gray-text, #AEAEAE);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 295px;
  padding: 30px;
}

.header-bottom_info__price img,
.header-bottom_info__appointment img {
  float: bottom;
  float: right;
  width: 11px;
  height: 11px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.header-middle_img {
  z-index: 0;
  position: absolute;
  right: 0;
  background-image: url(/img/dog_and_cat.png);
  width: 680px;
  height: 562px;
}

.header-bottom_info__sale {
  background-color: #20BBFE;
  background-image: url("/img/bg_vector.png");
  position: relative;
}

.slide {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-bottom_info__sale h3,
.header-bottom_info__sale p {
  color: #FFF;
}

.dots {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 28px;
  right: 23px;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #FFF;
  margin: 0 5px;
  cursor: pointer;
}

.dot_active {
  display: inline-block;
  width: 24px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}

@media screen and (max-width: 1199.98px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100% !important;
  }
  header {
    display: flex;
    align-items: center;
  }
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-top nav {
    content: url("/img/burger.svg");
  }
  .header-top img {
    width: 94.946px;
    height: 42.804px;
  }
  .header-top a:last-child {
    display: none;
  }
  .header-middle {
    align-items: center;
  }
  .header-middle h1 {
    margin: 35px 0 0 0;
    font-size: 26px;
    width: 100%;
  }
  .header-middle p {
    margin-top: 37px;
    margin-left: 0;
    align-self: start;
  }
  .header-middle_mobile {
    display: block;
    font-size: 26px;
  }
  .header-middle_img {
    display: none;
  }
  .header-middle button {
    margin-left: 0;
    width: 326px;
    height: 55px;
  }
  .header-bottom {
    margin-top: 65px;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }
  .header-bottom_info__price,
  .header-bottom_info__appointment,
  .header-bottom_info__sale {
    max-width: 100%;
    margin-right: 0px;
  }
  .header-bottom_info__price h3,
  .header-bottom_info__appointment h3,
  .header-bottom_info__sale h3 {
    padding: 25px;
  }
  .header-bottom_info__price p,
  .header-bottom_info__appointment p,
  .header-bottom_info__sale p {
    padding: 25px;
  }
}
@media (min-width: 769px) and (max-width: 1199.98px) {
  .header-middle p {
    align-self: center;
    align-items: center;
  }
}/*# sourceMappingURL=header.css.map */