main{
    margin-bottom: 80px;
}

.medical-care_heading,
.grooming-heading,
.staff-heading,
.feedback-header,
.faq-header,
.contacts-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-top: 140px;
}

.medical-care_heading h2,
.grooming-heading h2,
.staff-heading h2,
.feedback-header h2,
.faq-header h2,
.contacts-header h2,
.faq h2,
.contacts h2{
    color: var(--text, #575757);                
    font-size: 48px;
    font-style: normal;
    font-weight: 600;

}

.medical-care_heading__span {
    color: var(--akcent, #20BBFE); 
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 107%;
}

.medical-care {
    display: flex;
    margin-top: 70px;
}

.consultations{
    height: 641px;
    width: 62%;
    border-radius: 12px;
    background: var(--akcent, #20BBFE);
    background-image: url(/img/cat.png), url(/img/bg_vector3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, bottom;
    position: relative;
    background-size: 65%, contain;
    background-position-y: 71px;
    background-position-y: 63px, 178px;
}

.consultations h3,
.services h3 {
    color: var(--white, #FFF);
    font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 120%;
margin: 26px 0 0 43px;
}

.consultations p {
    color: var(--bg, #F5F5F5);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%;
margin: 36px 0 0 43px;
}

.consultations-dots {
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 34px;
    left: 42px;
    cursor: pointer;
  }
  
  .consultations-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFF;
    margin: 0 5px;
    // cursor: pointer;
  }

.services{
    width: 38%;

    // max-height: 571px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    z-index: 1;
    background: #ffffff;
    border-radius: 12px;
    // justify-content: center;
}
.services-wrapper_accordion{
    height: 537px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services h3{
    color: var(--text, #656565);
    margin-bottom: 44px;

}

.services-accordion{
    display: flex;
    flex-direction: column;
    transition: max-height 0.5s;
}

.services-accordion_data{
    // padding-left: 42px;
    // border-bottom: 2px solid #F5F5F5;
}

.services-accordion_data::after {
    content: '';
    max-width: 402px;
    height: 5px;
    background-color: black;
    /* float: none; */
    display: flex;
    justify-content: center;
    margin-left: 43px;
    height: 1px; /* толщина outline */
    background-color: #F5F5F5; /* цвет outline */
  }

.medical-care button {
    padding: 0px 7px 0px 43px;
    
}

.medical-care button img{
    margin-right: 38px;
}

.services-panel {
    padding: 0 18px 0 43px;
    display: none;
    background: var(--akcent, #20BBFE);
    overflow: hidden;
    border-radius:0 0 12px 12px;
    max-height: 250px;
}


.services-panel_bg{
    background: #ffffff;
    color: rgb(75, 75, 75) !important;
}

.services-panel_bg p{
    color: rgb(75, 75, 75) !important;
}

.services-panel p {
    color: white;
    padding-top: 8px;

}

.accordion {
    background: #FFF;
    color: #333;
    cursor: pointer;
    padding: 37px;
    text-align: left;
    border: none;
    outline: none;
    // transition: 0.4s;
    border-radius: 12px;
}

.accordion-bg{
    background: #FFF !important;
    color: #333 !important;
    margin-top: 0px !important;
    padding-bottom: 0 !important;
}

.accordion-active{
    background: var(--akcent, #20BBFE);
    border-radius: 12px 12px 0 0;
    color: white;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0 0;
    margin-top: 10px;
    padding-bottom: 20px ;
}

.accordion p {
    color: white;
    font-size: 16px;

}

.accordion-arrow{
    display: flex;
    justify-content: space-between;
    color: rgb(101, 101, 101);
    font-size: 16px;
}

.accordion-bg:hover .accordion-arrow,
.accordion-bg:hover .accordion-arrow svg path{
    color: var(--akcent, #20BBFE);
    fill: #20BBFE;
    transition: color, fill 0.3s, 0.3s; /* добавляем плавный переход при hover */
}

.accordion-arrow svg {
    margin-right: 38px;
}






.accordion-bg:hover .accordion-arrow,
.accordion-bg:hover .accordion-arrow svg path{
    color: var(--akcent, #20BBFE);
    fill: #20BBFE;
}




// .grooming{
//     margin-top: 140px;
// }

.grooming-heading p{
margin-left: 28px;
}

.grooming-wrapper{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}


.grooming-wrapper button{   
width: 100%;
max-height: 92px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 24px;
padding-bottom: 25px;
}

.grooming-service{
    display: flex;
    align-items: center;
}



.grooming-accordion {
    width: 62%;
    height: 404px;
    margin-right: 8px;
    margin-left: 0;
    border-radius: 12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // overflow: hidden;
}

.accordion-price{
    color: #FFF;
    font-size: 14px;
    border-radius: 32px;
    border: 1px solid var(--white, #FFF);
    padding: 7px 6px;
    margin-left: 17px;
    white-space: pre;
}

.grooming-accordion_panel{
    margin-bottom: 10px;
}

.grooming-accordion_h3{
    color: var(--text, #656565);
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 120%;
}

.grooming-accordion_panel p{
    color: white;
}

.accordion-arrow_open{
    display: flex;
    justify-content: space-between;
    color: inherit;
    width: 100%;
}

.accordion-arrow_open:hover{
  color: inherit;
}

.grooming-accordion_data{
    // margin-top: 10px;
}

.grooming-img{
    max-width: 495px;
    max-height: 404px;
border-radius: 12px;

}

.grooming-img img{
    width: 100%;
    // height: 100%;
    position: static;
}

.staff {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 70px;
}


.staff-card{
    width: 33%;
    border-radius: 12px;
    background: #FFF;
}

.staff-card_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 33px;
}

.staff-card_header{
    display: flex;
    align-items: center;
    width: 100%;
}

.staff-card_header__name{
    margin-left: 11px;
}

.staff-card_header__name h4{
    font-size: 16px;
    margin-bottom: 0;
}

.staff-card_header__name p{
    margin-bottom: 0;
}

.staff-card ul{
display: flex;
flex-direction: column;
margin-top: 15px;
}

.staff-card li{
    margin-top: 18px;
    font-size: 14px;
    margin-left: 35px;
    min-width: 265px;
}

.staff-card li::marker{
    color:  rgb(32, 187, 254);
    margin-right: 0;
}

.staff button{
    display: flex;
    width: 209px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--akcent, #20BBFE);
    color: #ffffff;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    margin-top: 33px;   
    transition: background 2s;
    opacity: 1;
    transition: opacity 0.1s;
}

.staff button:hover{
    background: linear-gradient(to bottom left, #19BAFF , #8BD5FF) !important;
    opacity: 1;
    transition-delay: 0.1s;
}

.feedback{
    width: 100%;
    height: 900px;
    background: var(--akcent, #20BBFE);
    margin-top: 102px;
    z-index: 1 ;
    position: relative;
}


.feedback-header{
    display: flex;
    align-items: baseline;
    padding-top: 130px;
    position: relative
}

.feedback-header h2{
    color: #FFF;
    font-size: 48px;
}

.feedback-header_text{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--white, #FFF);
}

.feedback-header_text p{
    cursor: pointer;
    color: var(--white, #FFF);
}

.feedback-header_text svg{
margin-left: 8px;
}


.swiper {
    margin-top: 36px;
    max-width: 100%;
    height: 378px;
    position:static !important;

}

.swiper-mobile {
display: none !important;
}

.swiper-wrapper {
    width: 95%; /* уменьшение ширины контейнера */
    margin: 0 auto;
}

.swiper-wrapper::before{
    background: rgba(0,0,0,0.5);
}

.swiper-slide{
width: 580px !important;
border-radius: 20px;

margin-right: 9px;
display: initial !important;
background: #ffffff;
// opacity: 0.7;
// transform: scale(1s);
}

.swiper-slide-next,
.swiper-slide-active{
    background: var(--white, #FFF);
    opacity: 1;
}

.swiper-slide_names{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-left: 20px;
    align-items: center;

}

.swiper-slide_names__info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide_names__info img{
margin-right: 15px;
}

.swiper-slide_raiting{
    display: flex;
    margin: 64px 0 0 36px;
}

.swiper-slide_names__clien-name{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

// ------------------------ Stars
.raiting {

    height: 18px;
    display: flex;
    margin: 0 13px 0 0;
    align-items: center;
    text-align: center;

    .stars{
          height: 100%;
          .rating-wrapper {

    
            label {
                color: gold;
                display: inline-flex;
                font-size: 18px;
                padding: 1px;
            }
            
             svg {
               -webkit-text-fill-color: transparent;
               -webkit-filter: drop-shadow (4px 1px 6px rgb(139, 139, 139));
               filter:drop-shadow(5px 1px 3px rgb(106, 106, 106));
            }
          
            input {
              height: 100%;
              width: 100%;
            }
            
            input {
              display: none;
            }
          
            label:hover,
            label:hover ~ label,
            input:checked ~ label  {
              color: #34AC9E;
            }
          
            label:hover,
            label:hover ~ label,
            input:checked ~ label  {
            color: gold;
            };
          };
    };
}
// ------------

.swiper-slide_feedback{
    margin: 21px 36px;
}

.swiper-slide_feedback h3{
    font-size: 22px;
    line-height: 130%;
}

.swiper-slide_feedback p{
    font-size: 14px;
    line-height: 130%;
}

.swiper-pagination{
bottom: 100px !important;
}

.swiper-pagination-bullet {
    border-radius: 8px !important;
    background: #ffffff !important;
}

.swiper-pagination-bullet-active  {
    display: inline-block !important;
    width: 24px !important;
    height: 6px !important;
    flex-shrink: 0 !important;
    border-radius: 8px !important;
    background: #ffffff !important; 
}

.feedback-footer{
    display: none;
}


.faq-wrapper{
    display: flex;
    margin-top: 70px;
    // justify-content: start;
    position: relative;
}

.faq-wrapper img{
// height: 100%;
}

.swiper-bg{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
}

.swiper-bg_left{
    width:30% ;
    height: 100%;
    z-index: 10;
    background: #ffffff1e;
    position: fixed;
    }
    
.swiper-bg_right{
  width:30% ;
    max-height: 100%;
    z-index: 10;
    background: #ffffff75;

    }

.faq-accordion{
    width: 100%;
    height: 500px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.faq-accordion_panel{
    color: var(--white, #FFF);
}

.faq-accordion_panel p{
    width: 100%;
}

  .faq-accordion_text{
    font-size: 22px;
}

.services-accordion_data{
    margin-bottom: 10px;
}


// -------------------------- Contacts

.contacts-wrapper{
    height: 511px;
    margin-top: 70px;
    border-radius: 12px;
    border: 1px solid var(--akcent, #20BBFE);
    background: url('/img/bg_vector_two.png') no-repeat, var(--akcent, #20BBFE);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.contacts-wrapper_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contacts-wrapper_form__info{
max-width: 311px;

}

.contacts-wrapper_form__info_wrapper{
    display: flex;
    flex-direction: column;
    padding: 36px 38px;
    max-width: 100%;
    background: #ffffff;
    border-radius: 12px;

}

.contacts-wrapper_form__info_wrapper p{
color: #656565 !important;

}

.contacts-wrapper_form__info_adress{
    display: flex;
    flex-direction: column;
}

.contacts-wrapper_form__info_adress img{
    margin-right: 7px;
    width: 23px;
    height: 23px;
}


.contacts-wrapper_form__info_adress a{
text-decoration: none;
color: #656565;
font-size: 16px;
}

.contacts-wrapper_form__info_adress_wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.contacts-wrapper_form__info_adress_wrapper:last-child{
    margin-bottom: 32px;
}



.contacts-wrapper_form p{
    font-size: 14px;
    color: var(--white, #FFF);
    margin-bottom: 30px;
    font-size: 18px;
}

.contacts-wrapper_form input,
.contacts-wrapper_form select,
.contacts-wrapper_form button{
    display: flex;
    width: 394px;
    height: 56px;
    border-radius: 12px;
    background: var(--white, #FFF);
    border: none;
    margin-bottom: 21px;
    padding-left: 23px;
}

.contacts-wrapper_form input::placeholder {
    color: #AEAEAE;
}

.contacts-wrapper_form select {
    appearance: none;
    color: #AEAEAE;
    background:url(/img/arr_down__down.svg) no-repeat right, var(--white, #FFF);
    background-position-x: calc(100% - 20px);
}

.contacts-wrapper_form option{
    color: black;
    border-radius: 12px;
}

.contacts-wrapper_form button{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 226px;
max-height: 55px;
border-radius: 12px;
background: var(--akcent, #20BBFE);
border: 3px solid #FFF;
color: var(--white, #FFF);
padding-left: 0;  
transition: background 2s;
opacity: 1;
transition: opacity 0.1s;
margin-bottom: 0;
}

.contacts-wrapper_form button:hover{
background: linear-gradient(to bottom left, #19BAFF , #8BD5FF) !important;
opacity: 1;
transition-delay: 0.1s;
}

.contacts-wrapper_form__links{
    margin-top: 50px;
    margin-left: 17px;
}

.contacts-wrapper_form__links p{
font-size: 14px;
margin-bottom: 0;
}

.contacts-wrapper_form__links_wrapper{
    margin-top: 8px;
    
}

.contacts-wrapper_form__links_wrapper a{
    margin-right: 10px;
}





.contacts-wrapper_map{
    width: 801px;
    height: 467px;
}

.contacts-wrapper_map iframe{
    border-radius: 12px;
}

.politic{
    display: flex;  
    justify-content: right;
    color: #656565;
    margin-top: 25px;
}

@media (min-width: 350px) and (max-width: 1199.98px)  {
    .medical-care_heading,
    .staff-heading{
        align-items: center !important;
    }

    .staff-card_header {
        display: flex;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .swiper-slide {
        width: 33% !important;
    }
  }


@media screen and (max-width: 1199.98px) {
// @media screen and (max-width: 768px) {

    .medical-care_heading,
.grooming-heading,
.staff-heading,
.feedback-header,
.faq-header,
.contacts-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: self-start;
    margin-top: 54px;
    margin-left: 22px;  
    width: auto;
    margin-bottom: 38px;
}

.medical-care_heading h2,
.grooming-heading h2,
.staff-heading h2,
.feedback-header h2,
.faq-header h2,
.contacts-header h2,
.faq h2,
.contacts h2{
    color: var(--text, #575757);                
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 32px;
}

.consultations h3, .services h3{
    margin: 34px 0 0px  21px;
}





.medical-care_heading__span {
    color: var(--akcent, #20BBFE); 
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.medical-care{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
}

.consultations{
width: inherit;
height: 534px;
background-repeat: no-repeat, no-repeat ;
background-position: bottom , bottom left;
background-size:  90%, 185% ;

}

.services{
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
    border-radius: 12px;
}

.services h3{

    width: auto;
    margin-bottom: 72px;
    }

.services img{
display: none;
}

.services-accordion{
    margin: 53px 0 0 22px;
    width: 100%;
    margin-left: 0; 
    margin-top: 8px;
}

.services-accordion_data{
margin: 0;
}


.consultations span{
font-size: 22px;
}

.consultations span{
    display: none;
}


.consultations p:after{
content: 'Проведение детального осмотра и обсуждение состояния вашего питомца. ';
}

.consultations p{
    margin: 12px 0 0 21px;

}

.consultations-dots {
    bottom: 34px;
    right: 34px;
    left: auto;
}

.consultations-dots span{

    display: block;
}

.services-accordion button{
    padding: 18px;
    width: 100% ;
    // background: #FFF;
}


.services-panel{
    // background: #FFF;
    // color: var(--gray-text, #AEAEAE);
    width: 100%;
}

.services-panel p{
    // background: #FFF;
    // color: var(--gray-text, #AEAEAE);
    width: 100%;
}

.accordion-arrow_open{
    // background: #FFF;
    // color: var(--gray-text, #AEAEAE);
}


// -------------------- grooming

.grooming {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.grooming-wrapper{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
}

.medical-care_heading p,
.grooming-heading p{
    font-size: 14px;
    margin-left: 0;
}

.grooming-img{
}

.grooming-accordion{
    display: flex;
width: 100%;
align-items: center;
margin: 0;
}

.grooming-accordion_h3{
    font-size: 16px;
    // color: var(--text, #656565);
    
}

.grooming-accordion img{
display: none;
}

.staff-cards{
display: flex;
flex-direction: column;
max-width: 100%;
margin-top: 0;
align-items: center;

}

.staff-card{
    max-width: 100%;
height:100%;
margin-top: 8px;
width: 100%;
}

.staff-card:first-of-type{

margin-top: 34px;
}

.staff-card_header__name h4 {
    font-size: 16px;
}

.staff-card_header__name p {
    font-size: 14px;
}

.staff-card ul {
   padding-left: 0 ;
   max-width: 100%;
}

.staff-card li {
margin-left: 50px;
 }


.staff-card img{
    width: 41px;
    height: 41px;
}

.feedback{
height: 528px;
    }

.feedback-header{
margin-top: 0px;
padding: 38px;
padding-left: 21px !important;
padding-bottom: 0;

}

.feedback-header h2 {
    color: rgb(255, 255, 255);
    font-size: 24px;
font-weight: 600;
width: 60%;
}

.feedback-header_text{
    margin-top: 0;
    font-size: 14px;
font-weight: 400;   
}

.feedback-header_text h3{
    font-size: 14px;
font-weight: 400;
}

.feedback-header_text p{
display: none;
}



.swiper{
    display: none !important;
    max-height: 252px;
    margin-left: 10px !important;
}

.swiper-mobile{
    display: block !important;
}

.swiper-slide{
    width: 90% !important;
}

.swiper-slide_raiting{
    margin: 28px 0 0 21px;
}

.swiper-slide_names{
    justify-content: left ;
    margin-top: 22px;
}

.swiper-slide_names__info{
width: 100%;
justify-content: left;
margin-left: 22px;
}

.swiper-slide_names__info:first-child{
display: none;
}

.swiper-slide_names__info img{
    width: 41px;
    height: 41px;
    margin-right: 8px;
}

.swiper-slide_names__clien-name h4{
    font-size: 16px;
    margin-bottom: 0;
}

.swiper-slide_names__clien-name p{
font-size: 14px;
margin-bottom: 0;
}

.swiper-slide_feedback{
}

.swiper-slide_feedback p{
    font-size: 14px;
}

.swiper-slide_feedback h3{
display: none;
}

.feedback-footer{
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;

}

.feedback-footer_text{
    color: var(--white, #FFF) !important;
    position: absolute;
    bottom: 7px;
}

.feedback-footer svg{
    
}

.swiper-pagination{
    left: 265px !important;
    bottom: 18px !important;
    width: auto !important;
}

















.faq{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.faq-header{
    justify-content: center;
}

.faq-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.faq-form_reptile{
    max-width: 370px;
    height: 376px;
}

.faq-accordion {
    width: 100%;
    margin: 8px 0 0 0;

}

.faq-accordion img{
 display: none;
 
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 54px;
}

.contacts-header{
    margin-top: 0;
    width: auto;
}

.contacts-header p{
    max-width: 100%;
}

.contacts-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    border: none;
    background: url(/img/mob/contacts_bg.png) no-repeat top , var(--akcent, #20BBFE);
    background-size: contain;
    // box-sizing: content-box;
}

.contacts-wrapper_form{
    max-width: 100%;
}

.contacts-wrapper_form form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.contacts-wrapper_form__links {
    margin-top: 0;

}

.contacts-wrapper_form p{
    margin: 42px 0 17px 0;
}

.contacts-wrapper form{
margin-top: 26px;
}

.contacts-wrapper input,
.contacts-wrapper select{
    max-width: 88%;
}

.contacts-wrapper_form button{
    max-width: 88%;
}

.contacts-wrapper_map{
// max-width: 328px;
width: 88%;
min-height: 416px;
padding-bottom: 21px;
border-radius: 12px;
margin: 31px 22px 22px 22px;
}

.contacts-wrapper_form__info {
    margin-top: 22px;
}

.contacts-wrapper_form__info_adress a {
    line-height: 120%;
}

.politic {
    margin-top: 20px;
    width: 100%; 
}

};






