@charset "UTF-8";
.medical-care_heading,
.grooming-heading,
.staff-heading,
.feedback-header,
.faq-header,
.contacts-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  margin-top: 140px;
}

.medical-care_heading h2,
.grooming-heading h2,
.staff-heading h2,
.feedback-header h2,
.faq-header h2,
.contacts-header h2,
.faq h2,
.contacts h2 {
  color: var(--text, #575757);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}

.medical-care_heading__span {
  color: var(--akcent, #20BBFE);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}

.medical-care {
  display: flex;
  margin-top: 70px;
}

.consultations {
  background: #20BBFE;
  width: 696px;
  height: 571px;
  border-radius: 12px;
  background: var(--akcent, #20BBFE);
  box-shadow: 0px 4px 4px 0px rgba(227, 227, 227, 0.25);
  background-image: url(/img/cat.png), url(/img/bg_vector_two.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom;
  position: relative;
}

.consultations h3,
.services h3 {
  color: var(--white, #FFF);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 45px 0 0 43px;
}

.consultations p {
  color: var(--bg, #F5F5F5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 36px 0 0 43px;
}

.consultations-dots {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 34px;
  left: 42px;
  cursor: pointer;
}

.consultations-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #FFF;
  margin: 0 5px;
}

.services {
  width: 496px;
  height: 571px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services h3 {
  color: var(--text, #656565);
  margin-left: 0px;
  width: 100%;
  margin-left: 50px;
}

.services-accordion {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 102px;
  margin-left: 50px;
  z-index: 10;
}

.services-panel {
  padding: 0 18px 35px 18px;
  display: none;
  background: var(--akcent, #20BBFE);
  overflow: hidden;
  border-radius: 0 0 12px 12px;
}

.services-panel p {
  color: white;
}

.accordion {
  background: #FFF;
  color: #333;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 12px 12px 0 0;
}

.accordion-active {
  background: var(--akcent, #20BBFE);
  border-radius: 12px 12px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion p {
  color: white;
  font-size: 16px;
}

.accordion-arrow {
  display: flex;
  justify-content: space-between;
  color: var(--gray-text, #AEAEAE);
  font-size: 16px;
}

.grooming-heading p {
  margin-left: 28px;
}

.grooming-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.grooming-wrapper button {
  padding-bottom: 12px;
  width: 100%;
  max-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grooming-service {
  display: flex;
  align-items: center;
}

.grooming-accordion {
  width: 696px;
  margin-right: 8px;
  margin-left: 0;
}

.accordion-price {
  color: #FFF;
  font-size: 14px;
  border-radius: 32px;
  border: 1px solid var(--white, #FFF);
  padding: 7px 6px;
  margin-left: 17px;
  white-space: pre;
}

.grooming-accordion_h3 {
  color: var(--text, #656565);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.grooming-accordion_panel p {
  width: 495px;
  color: white;
}

.accordion-arrow_open {
  display: flex;
  justify-content: space-between;
  color: var(--white, #FFF);
}

.grooming-img {
  width: 496px;
  height: 508px;
  border-radius: 12px;
}

.grooming-img img {
  width: 100%;
  position: static;
}

.staff {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 70px;
}

.staff-card {
  display: flex;
  flex-direction: column;
  max-width: 395px;
  height: 319px;
  justify-content: space-evenly;
  border-radius: 12px;
  background: #FFF;
}

.staff-card_header {
  display: flex;
  align-items: center;
}

.staff-card_header__name {
  margin-left: 8px;
}

.staff-card_header__name h4 {
  font-size: 16px;
  margin-bottom: 0;
}

.staff-card ul {
  display: flex;
  flex-direction: column;
}

.staff-card li {
  margin-top: 24px;
  font-size: 16px;
  margin-left: 25px;
}

.staff button {
  display: flex;
  width: 209px;
  height: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--akcent, #20BBFE);
  color: #ffffff;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  margin-top: 98px;
}

.feedback {
  width: 100%;
  height: 900px;
  background: var(--akcent, #20BBFE);
  margin-top: 102px;
  z-index: 1;
  position: relative;
}

.feedback-header {
  display: flex;
  align-items: baseline;
  padding-top: 130px;
  position: relative;
}

.feedback-header h2 {
  color: #FFF;
  font-size: 48px;
}

.feedback-header_text {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--white, #FFF);
}

.feedback-header_text p {
  cursor: pointer;
  color: var(--white, #FFF);
}

.feedback-header_text svg {
  margin-left: 8px;
}

.swiper {
  margin-top: 36px;
  max-width: 100%;
  height: 378px;
  position: static !important;
}

.swiper-wrapper {
  width: 95%; /* уменьшение ширины контейнера */
  margin: 0 auto;
}

.swiper-wrapper::before {
  background: rgba(0, 0, 0, 0.5);
}

.swiper-slide {
  width: 580px !important;
  border-radius: 20px;
  margin-right: 9px;
  display: initial !important;
  background: #ffffff;
  opacity: 0.7;
  transform: scale(1s);
}

.swiper-slide-next,
.swiper-slide-active {
  background: var(--white, #FFF);
  opacity: 1;
}

.swiper-slide_names {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  align-items: center;
}

.swiper-slide_names__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide_names__info img {
  margin-right: 15px;
}

.swiper-slide_raiting {
  display: flex;
  margin: 64px 0 0 36px;
}

.swiper-slide_names__clien-name {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.raiting {
  height: 18px;
  display: flex;
  margin: 0 13px 0 0;
  align-items: center;
  text-align: center;
}
.raiting .stars {
  height: 100%;
}
.raiting .stars .rating-wrapper label {
  color: gold;
  display: inline-flex;
  font-size: 18px;
  padding: 1px;
}
.raiting .stars .rating-wrapper svg {
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(5px 1px 3px rgb(106, 106, 106));
}
.raiting .stars .rating-wrapper input {
  height: 100%;
  width: 100%;
}
.raiting .stars .rating-wrapper input {
  display: none;
}
.raiting .stars .rating-wrapper label:hover,
.raiting .stars .rating-wrapper label:hover ~ label,
.raiting .stars .rating-wrapper input:checked ~ label {
  color: #34AC9E;
}
.raiting .stars .rating-wrapper label:hover,
.raiting .stars .rating-wrapper label:hover ~ label,
.raiting .stars .rating-wrapper input:checked ~ label {
  color: gold;
}

.swiper-slide_feedback {
  margin: 21px 0 0 36px;
}

.swiper-pagination {
  bottom: 100px !important;
}

.swiper-pagination-bullet {
  border-radius: 8px !important;
  background: #ffffff !important;
}

.swiper-pagination-bullet-active {
  display: inline-block !important;
  width: 24px !important;
  height: 6px !important;
  flex-shrink: 0 !important;
  border-radius: 8px !important;
  background: #ffffff !important;
}

.faq-wrapper {
  display: flex;
  margin-top: 70px;
  position: relative;
}

.swiper-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
}

.swiper-bg_left {
  width: 30%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1176470588);
  position: fixed;
}

.swiper-bg_right {
  width: 30%;
  max-height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.4588235294);
}

.faq-accordion {
  width: 100%;
  margin-left: 8px;
}

.faq-accordion_panel {
  color: var(--white, #FFF);
}

.faq-accordion_text {
  font-size: 22px;
}

.contacts-wrapper {
  height: 511px;
  margin-top: 70px;
  border-radius: 12px;
  border: 1px solid var(--akcent, #20BBFE);
  background: url("/img/bg_vector_two.png") no-repeat, var(--akcent, #20BBFE);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts-wrapper_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-wrapper_form p {
  font-size: 14px;
  color: var(--white, #FFF);
  margin-bottom: 34px;
}

.contacts-wrapper_form input,
.contacts-wrapper_form select,
.contacts-wrapper_form button {
  display: flex;
  width: 394px;
  height: 56px;
  border-radius: 12px;
  background: var(--white, #FFF);
  border: none;
  margin-bottom: 21px;
  padding-left: 23px;
}

.contacts-wrapper_form input::-moz-placeholder {
  color: #AEAEAE;
}

.contacts-wrapper_form input::placeholder {
  color: #AEAEAE;
}

.contacts-wrapper_form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #AEAEAE;
  background: url(/img/arr_down__down.svg) no-repeat right, var(--white, #FFF);
  background-position-x: calc(100% - 20px);
}

.contacts-wrapper_form option {
  color: black;
  border-radius: 12px;
}

.contacts-wrapper_form button {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--akcent, #20BBFE);
  border: 3px solid #FFF;
  color: var(--white, #FFF);
  padding-left: 0;
}

.contacts-wrapper_map {
  width: 680px;
  height: 479px;
}

@media (min-width: 769px) and (max-width: 1199.98px) {
  .medical-care_heading,
  .staff-heading {
    align-items: center !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .medical-care_heading,
  .grooming-heading,
  .staff-heading,
  .feedback-header,
  .faq-header,
  .contacts-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: self-start;
    margin-top: 54px;
    margin-left: 22px;
    width: auto;
  }
  .medical-care_heading h2,
  .grooming-heading h2,
  .staff-heading h2,
  .feedback-header h2,
  .faq-header h2,
  .contacts-header h2,
  .faq h2,
  .contacts h2 {
    color: var(--text, #575757);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  .consultations h3, .services h3 {
    margin: 34px 0 0px 21px;
  }
  .medical-care_heading__span {
    color: var(--akcent, #20BBFE);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  .medical-care {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .consultations {
    width: inherit;
    height: 534px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom left;
    background-size: 90%, 185%;
  }
  .services {
    width: auto;
    max-width: 100%;
  }
  .services h3 {
    max-width: auto;
    width: inherit;
  }
  .services img {
    display: none;
  }
  .services-accordion {
    margin: 53px 0 0 22px;
    max-width: 100%;
    width: auto;
    margin-left: 0;
  }
  .consultations span {
    display: none;
  }
  .consultations h3:after {
    content: "Кошки";
  }
  .consultations p {
    margin: 12px 0 0 21px;
  }
  .consultations-dots {
    bottom: 34px;
    right: 34px;
    left: auto;
  }
  .consultations-dots span {
    display: block;
  }
  .services-accordion button {
    padding: 18px;
    width: 100%;
  }
  .services-panel {
    width: 100%;
  }
  .services-panel p {
    width: 100%;
  }
  .grooming {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .grooming-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .medical-care_heading p,
  .grooming-heading p {
    font-size: 14px;
    margin-left: 0;
  }
  .grooming-img {
    max-width: 370px;
    width: auto;
    height: 376px;
  }
  .grooming-accordion {
    display: flex;
    width: 370px;
    align-items: center;
    margin: 0;
  }
  .grooming-accordion_h3 {
    font-size: 16px;
  }
  .grooming-accordion img {
    display: none;
  }
  .staff-cards {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 0;
  }
  .staff-card {
    max-width: 100%;
    height: 319px;
    margin-top: 78px;
  }
  .staff-card:first-of-type {
    margin-top: 34px;
  }
  .staff-card_header__name h4 {
    font-size: 16px;
  }
  .staff-card_header__name p {
    font-size: 14px;
  }
  .staff-card ul {
    padding-left: 0;
    max-width: 100%;
  }
  .staff button {
    display: none;
  }
  .feedback {
    display: none;
  }
  .faq {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .faq-header {
    justify-content: center;
  }
  .faq-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }
  .faq-form_reptile {
    max-width: 370px;
    height: 376px;
  }
  .faq-accordion {
    width: 370px;
    margin: 8px 0 0 0;
  }
  .faq-accordion img {
    display: none;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 54px;
  }
  .contacts-header {
    margin-top: 0;
    width: auto;
  }
  .contacts-header p {
    max-width: 100%;
  }
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    border: none;
    background: url(/img/mob/contacts_bg.png) no-repeat top, var(--akcent, #20BBFE);
    background-size: contain;
  }
  .contacts-wrapper_form {
    margin-left: auto;
    max-width: 100%;
  }
  .contacts-wrapper_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .contacts-wrapper_form p {
    margin: 47px 0 0 0;
  }
  .contacts-wrapper form {
    margin-top: 26px;
  }
  .contacts-wrapper input,
  .contacts-wrapper select {
    max-width: 88%;
  }
  .contacts-wrapper_form button {
    max-width: 88%;
  }
  .contacts-wrapper_map {
    max-width: 328px;
    padding-bottom: 21px;
    border-radius: 12px;
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */